/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  margin: 0;
  padding: 40px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#search-form input[type='text'] {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}

#search-form button {
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.loader {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  margin-bottom: 24px;
}

.hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 24px;
}

.load-more {
  margin: 32px auto;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
